<a data-toggle="modal" data-content="request a callback" href="#callme-dialog" class="btn btn-sm btn-primary"
   id="callme-dialog-open"><span class="glyphicon glyphicon-phone-alt"></span>{{ 'Request a Callback'|_ }}</a>
