<div id="callme-expand">
    <span class="glyphicon glyphicon-phone-alt"></span>
    Request a callback
</div>
<div class="callme-wrapper" style="display: none">

    <!-- TODO: use translation -->

    <p class="callme-hint alert alert-info">You can leave your telephone number and we will call you shortly</p>
    <div class="form-group overflow-hidden">
        <label class="col-md-3 control-label">Name:</label>
        <div class="col-md-4">
            <input class="form-control col-md-4" name="callme-name">
        </div>
    </div>
    <div class="form-group overflow-hidden">
        <label class="col-md-3 control-label">Phone number:</label>
        <div class="col-md-4">
            <input class="form-control col-md-4" name="callme-phone">
        </div>
    </div>
</div>
<script>
    require(['jquery'], function($) {
        $('#callme-expand').click(function() {
            $('.callme-wrapper').slideToggle();
        })
    })
</script>